body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus,
button:focus {
  outline: none;
}

.menu-active {
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
}

.btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 180px;
  height: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  outline: none;
  border: 2px solid #4463df;
  border-radius: 4px;
  color: #4463df;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-yellow {
  margin-top: 20px;
  background-color: #f8794e;
  color: #fff;
  border: 2px solid #f8794e;
  cursor: pointer;
}

.btn-yellow:hover {
  background-color: #4463df;
  color: #fff;
  border: 2px solid #4463df;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.achieve-button {
  margin-top: 45px;
  width: 100%;
}

.achieve-button:hover {
  background-color: #4463df;
  color: #fff;
  border: 2px solid #4463df;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 0;
}

.header {
  padding-top: 20px;
  background-color: #4463df;
  padding-bottom: 10px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav li a {
  color: #fff;
  font-size: 16px;
}

.header__nav li a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
}

.registration {
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 0 36.6% 0 36.6%;
}

.registration h2 {
  color: #443c56;
  font-size: 34px;
  font-weight: normal;
}

.registration .main-form label {
  display: block;
  color: #443c56;
  font-size: 14px;
  opacity: 0.87;
  margin-top: 40px;
}

.registration .main-form input[type="text"] {
  width: 360px;
  display: block;
  border: none;
  border-bottom: solid 1px #4463df;
  padding: 10px 10px 6px 1px;
  font-size: 16px;
  color: #443c56;
  line-height: 1.5;
}

.registration .main-form select {
  width: 360px;
  display: block;
  border: none;
  border-bottom: solid 1px #4463df;
  padding: 10px 10px 6px 1px;
  font-size: 16px;
  color: #443c56;
  line-height: 1.5;
}

.registration .main-form textarea {
  width: 360px;
  display: block;
  border: none;
  border-bottom: solid 1px #4463df;
  padding: 10px 10px 6px 1px;
  font-size: 16px;
  color: #443c56;
  line-height: 1.5;
}

.registration .main-form p {
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 1.33;
  color: #443c56;
}

.registration .main-form input[type="submit"] {
  margin-top: 100px;
  width: 360px;
  background-color: #f8794e;
  border-radius: 4px;
  color: #fff;
  height: 47px;
}